:root {
     --cor-fundo-geral: #FFEAEC;
     --cor-fundo-login: #FFFFFF;
     --cor-rosa-escuro: #F39A9D;
     --estilo-fonte-geral: arial, Helvetica, sans-serif;
}
body {
     margin: 0;
     background-color: var(--cor-fundo-geral);
     min-height: 100vh;
     font-family: var(--estilo-fonte-geral);
}
.cabecalho {
     color:var(--cor-rosa-escuro);
     text-align: center;
}
     .cabecalho__titulo{
          font-size: 80px;
          font-weight: 500;
          margin-bottom: 0;
     }
     .cabecalho__texto a {
          color: var(--cor-rosa-escuro);
          margin-top: 0;
     }
.principal {
     background-color: var(--cor-fundo-login);
     border-radius: 50px;
     margin: 0;
     padding-top: 30px ;
}
     .principal__login {
          border-radius: 20px;
     }
.formulario{
     width: 90%;
     margin: 0 auto;
}
     .formulario__texto {
          color: var(--cor-rosa-escuro)
     }
     .formulario__email, .formulario__senha {
          border-radius: 20px;
          background-color: var(--cor-fundo-geral);
          border: 0;
          width: 95%;
          height: 50px;
          padding-left: 16px;
          outline: none;
     }
     .formulario__botao {
          color: var(--cor-fundo-login);
          background-color: var(--cor-rosa-escuro);
          width: 100%;
          display: block;
          margin: 50px auto;
          border-radius: 50px;
          border: 0;
          height: 60px;
          font-size: 50px;
          cursor: pointer;
     }
          .formulario__botao--link {
               text-decoration: none;
          }
.principal__recuperar {
     background-color: var(--cor-rosa-escuro);
     border-radius: 30px 30px 0 0;
     color: var(--cor-fundo-login);
     padding-top: 19px;
}
     .principal__recuperar--titulo {
          text-align: center;
          font-size: 30px;
          font-weight: 500;
          margin-bottom: 0;
     }
     .principal__recuperar--texto {
          margin: 50px 40px 50px 30px;
          font-size: 20px;
     }
.recuperar {
     width: 90%;
     margin: 0 auto;
     padding-bottom: 30px;
}
     .recuperar__texto{}
     .recuperar__email, .recuperar__cpf {
          border-radius: 20px;
          background-color: var(--cor-fundo-geral);
          border: 0;
          width: 95%;
          height: 50px;
          padding-left: 16px;
          outline: none;
     }
    
@media (min-width:716px){
     .principal {
          width: 50%;
          margin: 0 auto;
     }
     .principal__recuperar {
          border-radius: 50px;
     }
     body {
          padding-bottom: 70px;
     }
}